/*最后的注释*/
.bottom {
  width: 7.2rem;
  height: 1.5rem;
  padding-top: 0.23rem;
  text-align: center;
  background: #eeeeee;
  margin: 0 auto;
}
.bottom p {
  font-size: 0.16rem;
  line-height: 0.3rem;
  color: #999999;
  margin: 0 auto;
}
.bottom p a {
  color: #999999;
}
